.main_info {
  padding: 15px 15px 15px 15px;
}

.location {
  color: gray;
}

.name {
  font-weight: bold;
  font-size: 20px;
  padding: 7px 0px 6px 0px;
}

.why_go > p, .short_description > p {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}

.dog_allowed {
  background: url('../../../assets/icons/dog-allowed-black.png');
}

.good_for_kids {
  background: url('../../../assets/icons/good-for-kids-black.png');
}

.many_days {
  background: url('../../../assets/icons/many-days-black.png');
}

.one_day {
  background: url('../../../assets/icons/one-day-black.png');
}

.dog_allowed,
.good_for_kids,
.many_days,
.one_day,
.loop,
.in-and-out,
.point-to-point {
  width: 24px;
  height: 24px;
  margin-top: 72px;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
