h1 {
  color: #666666;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 17px;
  margin-top: 19px;
}

.featured_trail {
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.featured_trail:hover {
    cursor: default;
}

.wrapper_featured_trails {
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}

.level_trail {
    background: #1d872e;
    margin-top: 15px;
    margin-left: 0px;
    width: 44px;
    padding: 2px 2px 2px 2px;
    font-size: 10px;
    height: 17px;
  }

.country_trail, .level_trail, .name_trail {
    color: white;
    font-weight: bold;
}

.country_trail, .name_trail, .length_trail {
    padding: 0px;
}

.name_trail, .country_trail {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.length_trail {
    color: #ffcc00;
}

.short_details_trail {
    padding: 0px;
}

.btn_more_featured_trails {
    background: #dddddd;
    color: #888888;
    font-size: 16px;
    font-weight: bold;
    padding-top: 9px;
    line-height: 13px;
    border-radius: 0px;
}

.dog_allowed {
    background: url('../assets/icons/dog-allowed-white.png');
}

.good_for_kids {
    background: url('../assets/icons/good-for-kids-white.png');
}

.many_days {
    background: url('../assets/icons/many-days-white.png');
}

.one_day {
    background: url('../assets/icons/one-day-white.png');
}

.dog_allowed, 
.good_for_kids, 
.many_days, 
.one_day, 
.loop,
.in-and-out,
.point-to-point {
    width: 24px;
    height: 24px;
    margin-top: 72px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

@media only screen
  and (max-width: 767px) {

  .featured_trail {
    height: 146px;
    margin-bottom: 2.003%;
    margin-right: 2.003%;

  }

  .wrapper_featured_trails {
    padding-left: 8px;
    padding-right: 8px;
  }

  .featured_trail:nth-child(even) {
    margin-right: 0px;
  }

  .col-xs-6 {
    width: 49%;
  }

  .short_details_trail {
    margin-top: 47px;
  }

  .country_trail {
    font-size: 13px;
  }

  .name_trail {
    font-size: 15px;
    margin-top: 4px;
  }

  .length_trail {
    margin-top: 5px;
    font-size: 11px;
  }
}

@media only screen
  and (min-width : 768px) {

  h1 {
    font-size: 27px;
  }
  

  .wrapper_featured_trails {
    padding-left: 13px;
    padding-right: 13px;
  }

  .featured_trail {
    height: 240px;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
  }

  .col-lg-4, .col-md-4 {
    width: 32.33333333%;
  }

  .featured_trail:nth-child(3n) {
    margin-right: 0px;
  }

  .short_details_trail {
    margin-top: 23px;
    line-height: 24px;
  }

  .country_trail {
    font-weight: normal;
  }

  .length_trail {
    font-size: 11px;
  }
}

@media only screen
  and (min-width : 992px) {

  .featured_trail {
    height: 300px;
  }

  .level_trail {
    margin-top: 19px;
    margin-left: 4px;
    width: 51px;
    padding: 2px 2px 2px 2px;
    font-size: 11px;
  }

  .short_details_trail {
    margin-top: 34px;
    padding-left: 7px;
    line-height: 30px;
  }

  .name_trail {
    font-size: 21px;
  }

  .length_trail {
    font-size: 13px;
  }

  .dog_allowed, 
  .good_for_kids, 
  .many_days, 
  .one_day, 
  .loop,
  .in-and-out,
  .point-to-point {
    margin-top: 92px;
  }
}