.row {
  margin-left: 0px;
  margin-right: 0px;
}

.countries_wrapper {
  min-height: 169px;
  padding-top: 16px;
  background: white;
  overflow: hidden;
}

.continents {
  background-color: inherit
}

.countries {
  padding: 5px 5px 5px 5px;
}

.continent {
  font-weight: bold;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3%;
  padding-right: 1%;
  background-color: inherit;
}

.continent:nth-of-type(1n+3) {
  display: none;
}

.country {
  margin-top: 7px;
  margin-left: -3px;
  font-size: initial;
  font-weight: initial;
}

.col-xs-6 {
  padding-left: 0px;
}

.col-xs-12 {
  padding-left: 4%;
}

.col-xs-6:nth-of-type(2n) {
  padding-left: 29px;
}

.btn-link{
  border-top: 1px solid #dddddd;
  color: #0079ff;
  padding-top: 5px;
  font-weight: bold;
  height: 45px;
  background: inherit;
}

@media only screen
  and (min-width: 760px) {
    .countries_wrapper {
      padding-top: 26px;
      margin-left: 13px;
      margin-right: 13px;
    }

    .continent {
      font-size: 19px;
      padding-top: 10px;
      padding-bottom: 12px;
      padding-left: 2%;
      padding-right: 2%;
    }

    .countries {
      padding: 2px 5px 5px 2px;
    }
  }

  .custom_tab {
    border-bottom: 2px solid #209734;
  }

@media only screen
  and (min-width: 1000px) {

  .countries_wrapper_desktop {
    margin-top: -104px;
    background: white;
    min-height: 327px;
    padding: 54px 5px 5px 63px;
  }

  .custom_tab {
    border-bottom: 2px solid #209734;
  }
  .nav-tabs {
    font-size: 20px;
    font-weight: bold;
    color: #555;
    border-bottom: none;
  }

  .nav-tabs>li>a {
    font-size: inherit;
    font-weight: inherit;
    padding: 0px;
    padding-bottom: 14px;
    margin-right: 33px;
  }

  .nav-tabs>li>a, .nav-tabs>li.active>a {
    border: none;
    color: inherit;
  }
  .nav-tabs>li.active>a {
    border-bottom: 3px solid #209734;
    color: #209734;
  }

  .countries {
    padding: 0px;
    margin-top: 31px;
  }

  .country {
    margin-left: 0px;
    padding: 0px;
    font-size: initial;
    font-weight: bold;
  }

  .regions {
    padding-left: 0;
    margin-bottom: 34px;
    padding-top: 15px;
  }

  .region {
    color: initial;
    font-size: 14px;
    font-weight: initial;
    padding-left: 0px;
    line-height: 14px;
  }
}

