<section class="countries-wrapper">
  <ul #listContinents class="continents list-unstyled">
    <li class="col-xs-12 continent" *ngFor="let continent of continents">
      {{continent.continent}}
      <ul class="list-unstyled countries">
        <li *ngFor="let country of continent.countries"
           class="country" [class.col-xs-12]="continent.countries.length < 2"
           [class.col-xs-6]="continent.countries.length > 2">{{country}}
        </li>
      </ul>
    </li>
  </ul>
</section>
<button *ngIf="!showedMore" class="btn-link col-xs-12 text-center" (click)="showMoreCountries()">Show all</button>
<button *ngIf="showedMore" class="btn-link col-xs-12 text-center" (click)="showLessCountries()">Show less</button>
  
