<section class="countries-wrapper">
  <!--<ul class="list-unstyled">-->
    <!--<li *ngFor="let continent of continents">-->
      <!--<div class="col-xs-12 continent">{{continent.continent}}</div>-->
      <!--<ul class="list-unstyled countries">-->
        <!--<li *ngFor="let country of continent.countries">-->
          <!--<div class="country" [class.col-xs-12]="continent.countries.length < 2"-->
               <!--[class.col-xs-6]="continent.countries.length > 2">-->
            <!--{{country}}-->
          <!--</div>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</li>-->
  <!--</ul>-->
  <div *ngFor="let item of continents; let i=index">
    <div *ngIf="i<2">{{item.continent}}</div>
  </div>
  <!--<div *ngFor="let item of continents; let i=index">-->
    <!--<div *ngIf="showMore" *ngIf="i>=4">{{item.continent}}</div>-->
  <!--</div>-->
  <button (click)="showMore=true"></button>
</section>
