* {
    margin: 0;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar {
    background: #558C89;
    color: white;
    padding: 5px 5px 5px 5px;
}

h1 {
    margin-top: 3px;
}

.fa-plane{
    text-align: right;
    font-size: 48px;
}