<div class="header_trail">
  <header-comp [withSearchForm]="false"></header-comp>
</div>
<section *ngIf="trail">
    <trail-photos *ngIf="trail.images.length >= 1" [photos]="trail.images">
      <photo-uploader *ngIf="trail.images.length >= 1" [contentUploadLink]="sendUploadLinkText()" [trailId]="trail.id" (photoUpload)="onPhotoUpload($event)"></photo-uploader>
    </trail-photos>
    <div *ngIf="trail.images.length == 0" class="upload_link col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <photo-uploader  [contentUploadLink]="sendUploadLinkText()"
        [trailId]="trail.id" (photoUpload)="onPhotoUpload($event)"></photo-uploader>
    </div>
    <main-info [trail]="trail"></main-info>
  <trail-location [lat]="trail.latitude" [lng]="trail.longitude"></trail-location>
</section>

