<sebm-google-map [latitude]="51.678418" [longitude]="7.809007" [zoom]="5">
     <sebm-google-map-polyline>
         <sebm-google-map-polyline-point [latitude]="60.69028" [longitude]="-161.97861">
         </sebm-google-map-polyline-point>
         <sebm-google-map-polyline-point [latitude]="60.70278" [longitude]="-161.77833">
         </sebm-google-map-polyline-point>
     </sebm-google-map-polyline>
     <sebm-google-map-polyline>
         <sebm-google-map-polyline-point [latitude]="-9.29167" [longitude]="-76.00528">
         </sebm-google-map-polyline-point>
         <sebm-google-map-polyline-point [latitude]="-20.752254" [longitude]="-51.681897">
         </sebm-google-map-polyline-point>
     </sebm-google-map-polyline>
 </sebm-google-map>