<section class="search_wrapper">
    <h1 class="search_title text-center">Find your route</h1>
    <div class="form-group">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <span class="glyphicon glyphicon-search"></span>
            <input type="search" class="form-control" placeholder="Enter your location" #searchInput [(ngModel)]="inputValue">
          <div class="list-group">
            <a *ngFor="let variant of searchVarians" class="list-group-item list-group-item-action"
               [routerLink]="['/trail', variant.id]">
              {{variant.name}}
            </a>
          </div>
        </div>
    </div>
</section>
