.search_title {
    font-weight: bold;
    color: white;
}

input {
    border-radius: 0px;
}

.form-group {
    padding: 5px 9px 5px 9px;
}

.glyphicon-search:before {
    position: absolute;
 }

@media only screen  
  and (max-width: 759px) {
    .search_wrapper {
        margin-top: 30px;
    }

    .search_title {
        font-size: 26px;
    }

    .form-group {
        margin-top: -11px;
    }

    input {
        padding-left: 25px;
        padding-right: 5px;
    }

    .glyphicon-search {
        top: 13px;
        left: 10px;
    }
}

@media only screen
    and (min-width: 760px) {
    .search_wrapper {
        margin-top: 102px;
    }

    .search_title {
        font-size: 43px;
    }

    input {
        height: 61px;
        width: 107%;
        margin-left: -15px;
        padding-left: 20px;
        padding-top: 10px;
    }

    .glyphicon-search {
        top: 26px;
        font-size: 20px;
        left: 445px;
    }
    

    ::-webkit-input-placeholder {
        font-size: 20px!important;
    }   

    :-moz-placeholder { /* Firefox 18- */
      font-size: 20px!important;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
      font-size: 20px!important;
    }
  }
