<main>
  <div class="search" [style.background-image]="'url(../assets/images/background_' + numberBackgroundImage + '.jpg)'">
    <header-comp [withSearchForm]="false"></header-comp>
    <section class="search_wrapper">
      <h1 class="search_title text-center">Find your route</h1>
      <search [onlyTrails]="false"></search>
    </section>
  </div>
  <countries></countries>
  <section class="empty">
    <div class="dotted_block hidden-xs col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2"></div>
  </section>
  <featured-trails></featured-trails>
</main>
