.search_title {
  font-weight: bold;
  color: white;
}

.search {
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen
and (max-width: 759px) {

  .search {
    height: 287px;
  }

  .search_wrapper {
    margin-top: 30px;
  }

  .search_title {
    font-size: 26px;
  }
}

@media only screen
and (min-width: 760px) {
  .search {
    height: 439px;
  }

  .search_wrapper {
    margin-top: 102px;
  }

  .search_title {
    font-size: 43px;
  }
}

@media only screen
and (min-width: 995px) {
  .search {
    height: 675px;
  }
}

